body {
  background: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 550px;
  height: 550px;
  margin: 150px auto;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.search-bar {
  border-radius: 20px;
  margin: 30px;
  margin-left: 60px;
  width: 290px;
  height: 30px;
  text-align: center;
  border: none;
}

.search-bar:focus{
  outline: none;
  
}

.search-bar::placeholder{
  opacity: 0.7;
}
.btn {
  width: 65px;
  border-radius: 20px;
  border: none;
  height: 30px;
}

.weather {
  text-align: center;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500px;
  font-size: 30px;
 
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400px;
  font-size: 50px;
  text-shadow: 2px 2px 4px #e4dede; 
}

.flex {
  margin-top: 30px;
}

.flex img {
  height: 105px;
  width: 105px;
}

.description {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.humidity {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.wind {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

@media screen and (max-width: 541px){
  body {
    background: url(images/background.jpg);
    background-size: auto;
    
  }
  
}